.parent{
    border-bottom: 1px solid rgba(255, 255, 255, 0.34);
    color: #e1ad69 ;
    /* position: sticky; */
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 172%; /* 17.2px */
}