@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

#root {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  -webkit-tap-highlight-color: transparent;
}

body {
  background-color: #0a0c0b;
  overflow: hidden;
  height: 100vh;
  font-family: sans-serif;
}

.parent {
  padding-block: 5rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainContainer {
  flex: 1 1 600px;
  display: flex;
  width: 80%;
  flex-direction: column;
  max-width: 1000rem;
  justify-content: center;
  align-items: center;
  /* height: 80%; */
  /* background-color: white; */
  /* min-height: 400px; */
}

.header {
  flex: 0 0 30px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 0.7rem;
}

.infoDiv {
  display: flex;
  gap: 1rem;
}

.subInfoDiv {
  width: fit-content;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  color: #efdcc3;
  margin-top: 5px;
  /* line-height: 172%;  */
  line-height: normal;
}

.job {
  color: #757575;
  font-size: 11px;
  font-style: normal;
  white-space: nowrap;
  font-weight: 700;
  line-height: 172%; /* 17.2px */
}

.profileimg {
  width: 50px;
  aspect-ratio: 1/1;
  height: 50px;
  border-radius: 50%;
}

.inquiry {
  text-decoration: none;
  height: fit-content;
  border-radius: 10px;
  border: 2px solid rgba(255, 255, 255, 0.34);
  background: #141615;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 172%; /* 20.64px */
  cursor: pointer;
  padding: 4px 0.7rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  align-items: center;
  color: #efdcc3;
  transition: all 0.2s;
}

.inquiry svg {
  transition: all 0.2s;
}

.inquiry:hover,
.inquiry:active {
  border-color: #efdcc3;
  border-width: 2px;
}

.inquiry:hover svg,
.inquiry:active svg {
  transform: rotate(-45deg);
}

.inquiry:hover svg g path,
.inquiry:active svg g path {
  fill: #efdcc3;
}

.content {
  width: 100%;
  border-block: 1px solid #ffffff57;
  gap: 1.5rem;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  padding-bottom: 7rem;
  padding-top: 2rem;
  flex: 1 1 500px;
  justify-content: center;
  align-items: stretch;
}

.box {
  border-radius: 10px;
  background-color: #141615;
  justify-content: stretch;
  border: 0.75px solid rgba(255, 255, 255, 0.34);
  padding-inline: 1rem;
  padding-top: 0.25rem;
  position: relative;
  flex: 1 1 300px;
  min-width: 350px;
  max-width: 450px;
  max-height: 400px;
  /* min-height: 183px; */
  /* height: 100%; */
  overflow: hidden;
}

.firstbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 1 1 300px;
  min-width: 350px;
  max-width: 450px;
  max-height: 400px;
}

.about {
  /* grid-row: 1;
  grid-column: 1; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 7px;
  /* height: 100%; */
}

.description {
  color: #efdcc3;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 172%; /* 0.9675rem */
}

.subbox {
  display: flex;
  gap: 1rem;
  /* flex: 1 1 300px; */
  align-items: start;
  justify-content: center;
}

.location {
  flex: 1 1 150px;
  min-width: 150px;
  padding: 0.5rem;
  border: none;
  height: 100%;
  overflow: hidden;
  background-color: unset;
  background-image: url("../public/mappp.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.locationdiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #efdcc3;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.34);
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
/* .mappng{
  width: 100%;
  height: 100%;
  object-fit: cover;
  } */

.link {
  /* max-height: 50%-1rem; */
  flex: 1 1 150px;
  min-width: 150px;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  border: none;
  gap: 0.2rem;
  background-color: unset;
}

.socialdiv {
  width: 49%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialpng {
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease;
  filter: saturate(0.4);
}

.socialpng:hover {
  opacity: 100%;
  filter: saturate(1);
}
.discord:hover {
  filter: saturate(4);
}

.work {
  /* grid-row: 1/3;
  grid-column: 2; */
}

.workItems,
.skillItems {
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  gap: 20px;
  height: 100%;
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  mask-mode: match-source;
  mask-repeat: no-repeat;
  mask-size: 100% 100%;

  /* Safari/Webkit fallback */
  -webkit-mask-image: linear-gradient(
    to bottom,
    transparent 0%,
    black 10%,
    black 90%,
    transparent 100%
  );
  -webkit-mask-mode: match-source;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
}

.work::after,
.skills::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10%;
  bottom: 0%;
  left: 0%;
  background: linear-gradient(to bottom, #14161500, #141615);
}

.work,
.skills {
}

.workItemsContainer,
.skillItemsContainer {
  width: 100%;
}

.skills {
  /* grid-row: 1/3;
  grid-column: 3; */
}

.footer {
  flex: 0 0 30px;
  color: #757575;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 172%;
  display: flex;
  width: 100%;
  padding-block: 0.3rem;
  justify-content: space-between;
}

.footer div {
}

.element-with-scroll {
  scrollbar-width: thin; /* or "auto", "none" */
  scrollbar-color: transparent transparent;
  /* thumb color and track color */
}

.workItems::-webkit-scrollbar {
  width: 4px;
  display: none;
}

.workItems::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  display: none;
}

.workItems::-webkit-scrollbar-track {
  background: transparent;
}

@media screen and (max-width: 1372px) {
  body {
    overflow: visible;
    height: unset;
  }

  .content {
    padding-bottom: 2rem;
    gap: 2rem;
  }

  .mainContainer {
    width: 90%;
  }
}

@media screen and (max-width: 812px) {
  .parent {
    justify-content: flex-start;
    padding-top: 1.5rem;
    padding-bottom: 2rem;
  }
}
